@import "../../../sass/variables";
.file_image{
    width:200px;
    height:200px;
}
.file__input{
    height: 2rem;
    display: block;
}
.input__error--text{
    color: $danger;
    font-size: 1.3rem;
    font-weight: bold;
}