@import '../../../sass/variables';
.toast__wrap{
    position:fixed;
    top: 0;
    right:0;
    text-align: center;
    color: #fff;
    width:32rem;
    background-color: transparent;
    & .toast__item{
        border-radius: 5px;
        animation-duration:0.3s;
        animation-name: toast;
        position: relative;
        width: 300px;
        padding: 2rem;
        font-size: 1.3rem;
        font-weight: bold;
        &:not(:first-child){
            margin-top: 5px;
        }
        &.success{
            background-color: $success;
        }
        &.danger{
            background-color: $danger;
        }
        & .toast__close{
            outline: none;
            background-color: transparent;
            border:none;
            position: absolute;
            top:0;
            color: white;
            right:0;
        }
    }
}
@keyframes toast {
   0% {
       transform: translateX(100%);
   }
   95%{
       transform: translateX(-1.5rem)
   }
   100%{
       transform: translateX(1rem)
   }
}