@import "../../../sass/base";
@import "../../../sass/variables";

.icon__button--img {
    display: flex;
    & img{
        width: 100%;
    }
    &.bg-gray{
        background-color:$gray;
        padding:1rem;
        border-radius: 0.5rem;
        &:hover{
            filter: brightness(90%);
        }
    }
}

