@import "../../../sass/variables";
.title__block{
    padding: 3rem;
    background-color: $white;
    border-radius: $border-radius;
  box-shadow: 4px 4px 10px #ccc;
   & h4{
        font-size:1.8rem;
        font-weight: bold;
   }
}