@import "../../../sass/variables";
.button__group {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  background-color: transparent;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.3rem;
  min-height:3rem;
  &.primary{
    color: $white;
    background-color:$primary;
    border:2px solid $primary;
    &:hover{
      background-color: $white;
      color: $primary;
    }
  }
  &.circle{
    padding:0;
  }
  & i {
    display: block;
    margin-right: 0.5rem;
    border: 2px solid $primary;
    padding: 0.6rem;
    border-radius: 50%;
    font-size: 1.6rem;
  }
}
